@import "tailwindcss";

@import '@radix-ui/colors/sage.css' layer(base);
@import '@radix-ui/colors/sage-dark.css' layer(base);
@import '@radix-ui/colors/olive.css' layer(base);
@import '@radix-ui/colors/olive-dark.css' layer(base);
@import '@radix-ui/colors/sand.css' layer(base);
@import '@radix-ui/colors/sand-dark.css' layer(base);
@import '@radix-ui/colors/red.css' layer(base);
@import '@radix-ui/colors/red-dark.css' layer(base);
@import '@radix-ui/colors/ruby.css' layer(base);
@import '@radix-ui/colors/ruby-dark.css' layer(base);
@import '@radix-ui/colors/crimson.css' layer(base);
@import '@radix-ui/colors/crimson-dark.css' layer(base);
@import '@radix-ui/colors/pink.css' layer(base);
@import '@radix-ui/colors/pink-dark.css' layer(base);
@import '@radix-ui/colors/plum.css' layer(base);
@import '@radix-ui/colors/plum-dark.css' layer(base);
@import '@radix-ui/colors/purple.css' layer(base);
@import '@radix-ui/colors/purple-dark.css' layer(base);
@import '@radix-ui/colors/violet.css' layer(base);
@import '@radix-ui/colors/violet-dark.css' layer(base);
@import '@radix-ui/colors/iris.css' layer(base);
@import '@radix-ui/colors/iris-dark.css' layer(base);
@import '@radix-ui/colors/indigo.css' layer(base);
@import '@radix-ui/colors/indigo-dark.css' layer(base);
@import '@radix-ui/colors/blue.css' layer(base);
@import '@radix-ui/colors/blue-dark.css' layer(base);
@import '@radix-ui/colors/cyan.css' layer(base);
@import '@radix-ui/colors/cyan-dark.css' layer(base);
@import '@radix-ui/colors/teal.css' layer(base);
@import '@radix-ui/colors/teal-dark.css' layer(base);
@import '@radix-ui/colors/jade.css' layer(base);
@import '@radix-ui/colors/jade-dark.css' layer(base);
@import '@radix-ui/colors/green.css' layer(base);
@import '@radix-ui/colors/green-dark.css' layer(base);
@import '@radix-ui/colors/grass.css' layer(base);
@import '@radix-ui/colors/grass-dark.css' layer(base);
@import '@radix-ui/colors/bronze.css' layer(base);
@import '@radix-ui/colors/bronze-dark.css' layer(base);
@import '@radix-ui/colors/gold.css' layer(base);
@import '@radix-ui/colors/gold-dark.css' layer(base);
@import '@radix-ui/colors/brown.css' layer(base);
@import '@radix-ui/colors/brown-dark.css' layer(base);
@import '@radix-ui/colors/orange.css' layer(base);
@import '@radix-ui/colors/orange-dark.css' layer(base);
@import '@radix-ui/colors/amber.css' layer(base);
@import '@radix-ui/colors/amber-dark.css' layer(base);
@import '@radix-ui/colors/yellow.css' layer(base);
@import '@radix-ui/colors/yellow-dark.css' layer(base);
@import '@radix-ui/colors/lime.css' layer(base);
@import '@radix-ui/colors/lime-dark.css' layer(base);
@import '@radix-ui/colors/mint.css' layer(base);
@import '@radix-ui/colors/mint-dark.css' layer(base);
@import '@radix-ui/colors/sky.css' layer(base);
@import '@radix-ui/colors/sky-dark.css' layer(base);
@import '@radix-ui/colors/tomato.css' layer(base);
@import '@radix-ui/colors/tomato-dark.css' layer(base);
@import '@radix-ui/colors/gray.css' layer(base);
@import '@radix-ui/colors/gray-dark.css' layer(base);
@import '@radix-ui/colors/mauve.css' layer(base);
@import '@radix-ui/colors/mauve-dark.css' layer(base);
@import '@radix-ui/colors/slate.css' layer(base);
@import '@radix-ui/colors/slate-dark.css' layer(base);
@import '@radix-ui/colors/slate-alpha.css' layer(base);
@import '@radix-ui/colors/slate-dark-alpha.css' layer(base);

@import 'tailwindcss/theme' layer(theme);

@import 'tailwindcss/preflight' layer(base);

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  #root {
    --tomato-contrast: #fff;
    --red-contrast: #fff;
    --ruby-contrast: #fff;
    --crimson-contrast: #fff;
    --pink-contrast: #fff;
    --plum-contrast: #fff;
    --purple-contrast: #fff;
    --violet-contrast: #fff;
    --iris-contrast: #fff;
    --indigo-contrast: #fff;
    --blue-contrast: #fff;
    --cyan-contrast: #fff;
    --teal-contrast: #fff;
    --jade-contrast: #fff;
    --green-contrast: #fff;
    --grass-contrast: #fff;
    --bronze-contrast: #fff;
    --gold-contrast: #fff;
    --brown-contrast: #fff;
    --orange-contrast: #fff;
    --amber-contrast: #000;
    --yellow-contrast: #000;
    --lime-contrast: #000;
    --mint-contrast: #000;
    --sky-contrast: #000;
    --gray-contrast: #fff;
    --mauve-contrast: #fff;
    --slate-contrast: #fff;
    --sage-contrast: #fff;
    --olive-contrast: #fff;
    --sand-contrast: #fff;

    /**
   * Spacing scale
   *
   * These variables define a spacing scale based on Tailwind's default.
   * We've introduced a --size-scale variable as a multiplier.
   * By adjusting this single value, we can proportionally
   * scale all spacing throughout the entire application.
   *
   * https://tailwindcss.com/docs/customizing-spacing#default-spacing-scale
   */
    --size-scale: 1;
    --size-0: 0px;
    --size-px: 1px;
    --size-0-5: calc(0.125rem * var(--size-scale));
    --size-1: calc(0.25rem * var(--size-scale));
    --size-1-5: calc(0.375rem * var(--size-scale));
    --size-2: calc(0.5rem * var(--size-scale));
    --size-2-5: calc(0.625rem * var(--size-scale));
    --size-3: calc(0.75rem * var(--size-scale));
    --size-3-5: calc(0.875rem * var(--size-scale));
    --size-4: calc(1rem * var(--size-scale));
    --size-5: calc(1.25rem * var(--size-scale));
    --size-6: calc(1.5rem * var(--size-scale));
    --size-7: calc(1.75rem * var(--size-scale));
    --size-8: calc(2rem * var(--size-scale));
    --size-9: calc(2.25rem * var(--size-scale));
    --size-10: calc(2.5rem * var(--size-scale));
    --size-11: calc(2.75rem * var(--size-scale));
    --size-12: calc(3rem * var(--size-scale));
    --size-14: calc(3.5rem * var(--size-scale));
    --size-16: calc(4rem * var(--size-scale));
    --size-20: calc(5rem * var(--size-scale));
    --size-24: calc(6rem * var(--size-scale));
    --size-28: calc(7rem * var(--size-scale));
    --size-32: calc(8rem * var(--size-scale));
    --size-36: calc(9rem * var(--size-scale));
    --size-40: calc(10rem * var(--size-scale));
    --size-44: calc(11rem * var(--size-scale));
    --size-48: calc(12rem * var(--size-scale));
    --size-52: calc(13rem * var(--size-scale));
    --size-56: calc(14rem * var(--size-scale));
    --size-60: calc(15rem * var(--size-scale));
    --size-64: calc(16rem * var(--size-scale));
    --size-72: calc(18rem * var(--size-scale));
    --size-80: calc(20rem * var(--size-scale));
    --size-96: calc(24rem * var(--size-scale));

    /* Border radii */
    --radius-factor: 1;
    --radius-sm: calc(2px * var(--radius-factor) * var(--size-scale));
    --radius-md: calc(6px * var(--radius-factor) * var(--size-scale));
    --radius-lg: calc(8px * var(--radius-factor) * var(--size-scale));
    --radius-xl: calc(12px * var(--radius-factor) * var(--size-scale));
    --radius-2xl: calc(16px * var(--radius-factor) * var(--size-scale));
    --radius-full: 9999px;

    /* Neutral colors */
    --color-neutral-1: var(--slate-1);
    --color-neutral-2: var(--slate-2);
    --color-neutral-3: var(--slate-3);
    --color-neutral-4: var(--slate-4);
    --color-neutral-5: var(--slate-5);
    --color-neutral-6: var(--slate-6);
    --color-neutral-7: var(--slate-7);
    --color-neutral-8: var(--slate-8);
    --color-neutral-9: var(--slate-9);
    --color-neutral-10: var(--slate-10);
    --color-neutral-11: var(--slate-11);
    --color-neutral-12: var(--slate-12);
    --color-neutral-a1: var(--slate-a1);
    --color-neutral-a2: var(--slate-a2);
    --color-neutral-a3: var(--slate-a3);
    --color-neutral-a4: var(--slate-a4);
    --color-neutral-a5: var(--slate-a5);
    --color-neutral-a6: var(--slate-a6);
    --color-neutral-a7: var(--slate-a7);
    --color-neutral-a8: var(--slate-a8);
    --color-neutral-a9: var(--slate-a9);
    --color-neutral-a10: var(--slate-a10);
    --color-neutral-a11: var(--slate-a11);
    --color-neutral-a12: var(--slate-a12);
    --color-neutral-contrast: var(--slate-contrast);

    /* Accent colors */
    --color-accent-1: var(--blue-1);
    --color-accent-2: var(--blue-2);
    --color-accent-3: var(--blue-3);
    --color-accent-4: var(--blue-4);
    --color-accent-5: var(--blue-5);
    --color-accent-6: var(--blue-6);
    --color-accent-7: var(--blue-7);
    --color-accent-8: var(--blue-8);
    --color-accent-9: var(--blue-9);
    --color-accent-10: var(--blue-10);
    --color-accent-11: var(--blue-11);
    --color-accent-12: var(--blue-12);
    --color-accent-contrast: var(--blue-contrast);

    /* Secondary accent colors */
    --color-accent-secondary-1: var(--violet-1);
    --color-accent-secondary-2: var(--violet-2);
    --color-accent-secondary-3: var(--violet-3);
    --color-accent-secondary-4: var(--violet-4);
    --color-accent-secondary-5: var(--violet-5);
    --color-accent-secondary-6: var(--violet-6);
    --color-accent-secondary-7: var(--violet-7);
    --color-accent-secondary-8: var(--violet-8);
    --color-accent-secondary-9: var(--violet-9);
    --color-accent-secondary-10: var(--violet-10);
    --color-accent-secondary-11: var(--violet-11);
    --color-accent-secondary-12: var(--violet-12);
    --color-accent-secondary-contrast: var(--violet-contrast);

    /* Foreground colors */
    --color-fg: var(--color-neutral-12);
    --color-fg-secondary: var(--color-neutral-a11);

    /* Background colors */
    --color-bg: #ffffff;
    --color-bg-inset: var(--color-neutral-2);
    --color-bg-overlay: #ffffff;

    /* Focus ring */
    --color-focus-ring: var(--color-accent-9);

    /* Fonts */
    --font-sans-serif: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-monospace: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
      "Liberation Mono", "Courier New", monospace;
    --font-family: var(--font-sans-serif);
  }

  #root.dark-theme,
  :root.dark-theme,
  .dark-theme {
    --color-bg: var(--color-neutral-1);
    --color-bg-inset: #000000;
    --color-bg-overlay: var(--color-neutral-3);
    
    /* Dark mode color overrides - Radix dark colors */
    /* Neutral slate dark */
    --slate-1: #111113;
    --slate-2: #18191b;
    --slate-3: #212225;
    --slate-4: #272a2d;
    --slate-5: #2e3135;
    --slate-6: #363a3f;
    --slate-7: #43484e;
    --slate-8: #5a6169;
    --slate-9: #696e77;
    --slate-10: #777b84;
    --slate-11: #b0b4ba;
    --slate-12: #edeef0;
    
    /* Mauve dark */
    --mauve-1: #121113;
    --mauve-2: #1a191b;
    --mauve-3: #232225;
    --mauve-4: #2b292d;
    --mauve-5: #323035;
    --mauve-6: #3c393f;
    --mauve-7: #49474e;
    --mauve-8: #625f69;
    --mauve-9: #6f6d78;
    --mauve-10: #7c7a85;
    --mauve-11: #b5b2bc;
    --mauve-12: #eeeef0;
    
    /* Sage dark */
    --sage-1: #101211;
    --sage-2: #171918;
    --sage-3: #202221;
    --sage-4: #272a29;
    --sage-5: #2e3130;
    --sage-6: #373b39;
    --sage-7: #444947;
    --sage-8: #5b625f;
    --sage-9: #63706b;
    --sage-10: #717d79;
    --sage-11: #adb5b2;
    --sage-12: #eceeed;
    
    /* Sand dark */
    --sand-1: #111110;
    --sand-2: #191918;
    --sand-3: #222221;
    --sand-4: #2a2a28;
    --sand-5: #31312e;
    --sand-6: #3b3a37;
    --sand-7: #494844;
    --sand-8: #62605b;
    --sand-9: #6f6d66;
    --sand-10: #7c7b74;
    --sand-11: #b5b3ad;
    --sand-12: #eeeeec;
    
    /* Olive dark */
    --olive-1: #111210;
    --olive-2: #181917;
    --olive-3: #212220;
    --olive-4: #282a27;
    --olive-5: #2f312e;
    --olive-6: #383a36;
    --olive-7: #454843;
    --olive-8: #5c625b;
    --olive-9: #687066;
    --olive-10: #767d74;
    --olive-11: #afb5ad;
    --olive-12: #eceeec;
    
    /* Blue dark */
    --blue-1: #0d1520;
    --blue-2: #111927;
    --blue-3: #0d2847;
    --blue-4: #003362;
    --blue-5: #004074;
    --blue-6: #104d87;
    --blue-7: #205d9e;
    --blue-8: #2870bd;
    --blue-9: #0090ff;
    --blue-10: #3b9eff;
    --blue-11: #70b8ff;
    --blue-12: #c2e6ff;
    
    /* Violet dark */
    --violet-1: #14121f;
    --violet-2: #1b1525;
    --violet-3: #291f43;
    --violet-4: #33255b;
    --violet-5: #3c2e69;
    --violet-6: #473876;
    --violet-7: #56468b;
    --violet-8: #6958a3;
    --violet-9: #6e56cf;
    --violet-10: #7d66d9;
    --violet-11: #baa7ff;
    --violet-12: #e2ddfe;
    
    /* Green dark */
    --green-1: #0e1512;
    --green-2: #121b17;
    --green-3: #132d21;
    --green-4: #113b29;
    --green-5: #174933;
    --green-6: #20573e;
    --green-7: #28684a;
    --green-8: #2f7c57;
    --green-9: #30a46c;
    --green-10: #33b074;
    --green-11: #3dd68c;
    --green-12: #b1f1cb;
    
    /* Teal dark */
    --teal-1: #0d1514;
    --teal-2: #111c1b;
    --teal-3: #0d2d2a;
    --teal-4: #023b37;
    --teal-5: #084843;
    --teal-6: #145750;
    --teal-7: #1c6961;
    --teal-8: #207e73;
    --teal-9: #12a594;
    --teal-10: #0eb39e;
    --teal-11: #0bd8b6;
    --teal-12: #adf0dd;
    
    /* Jade dark */
    --jade-1: #0d1512;
    --jade-2: #121c18;
    --jade-3: #0f2e22;
    --jade-4: #0b3b2c;
    --jade-5: #114837;
    --jade-6: #1b5745;
    --jade-7: #246854;
    --jade-8: #2a7e68;
    --jade-9: #29a383;
    --jade-10: #27b08b;
    --jade-11: #1fd8a4;
    --jade-12: #adf0d4;
    
    /* Orange dark */
    --orange-1: #17120e;
    --orange-2: #1e160f;
    --orange-3: #331e0b;
    --orange-4: #462100;
    --orange-5: #562800;
    --orange-6: #66350c;
    --orange-7: #7e451d;
    --orange-8: #a35829;
    --orange-9: #f76b15;
    --orange-10: #ff801f;
    --orange-11: #ffa057;
    --orange-12: #ffe0c2;
    
    /* Amber dark */
    --amber-1: #16120c;
    --amber-2: #1d180f;
    --amber-3: #302008;
    --amber-4: #3f2700;
    --amber-5: #4d3000;
    --amber-6: #5c3d05;
    --amber-7: #714f19;
    --amber-8: #8f6424;
    --amber-9: #ffc53d;
    --amber-10: #ffd60a;
    --amber-11: #ffca16;
    --amber-12: #ffe7b3;
    
    /* Indigo dark */
    --indigo-1: #11131f;
    --indigo-2: #141726;
    --indigo-3: #182449;
    --indigo-4: #1d2e62;
    --indigo-5: #253974;
    --indigo-6: #304384;
    --indigo-7: #3a4f97;
    --indigo-8: #435db1;
    --indigo-9: #3e63dd;
    --indigo-10: #5472e4;
    --indigo-11: #9eb1ff;
    --indigo-12: #d6e1ff;
    
    /* Ruby dark */
    --ruby-1: #191113;
    --ruby-2: #1e1517;
    --ruby-3: #3a141e;
    --ruby-4: #4e1325;
    --ruby-5: #5e1a2e;
    --ruby-6: #6f2539;
    --ruby-7: #883447;
    --ruby-8: #b3445a;
    --ruby-9: #e54666;
    --ruby-10: #ec5a72;
    --ruby-11: #ff949d;
    --ruby-12: #fed2e1;
    
    /* Crimson dark */
    --crimson-1: #191114;
    --crimson-2: #201318;
    --crimson-3: #381525;
    --crimson-4: #4d122f;
    --crimson-5: #5c1839;
    --crimson-6: #6d2545;
    --crimson-7: #873356;
    --crimson-8: #b0436e;
    --crimson-9: #e93d82;
    --crimson-10: #ee518a;
    --crimson-11: #ff92ad;
    --crimson-12: #fdd3e8;
    
    /* Pink dark */
    --pink-1: #191117;
    --pink-2: #21121d;
    --pink-3: #37172f;
    --pink-4: #4b143d;
    --pink-5: #591c47;
    --pink-6: #692955;
    --pink-7: #833869;
    --pink-8: #a84f82;
    --pink-9: #d6409f;
    --pink-10: #de51a8;
    --pink-11: #ff8dcc;
    --pink-12: #fdd1ea;
    
    /* Purple dark */
    --purple-1: #18111b;
    --purple-2: #1e1523;
    --purple-3: #301c3b;
    --purple-4: #3d224e;
    --purple-5: #48295c;
    --purple-6: #54346b;
    --purple-7: #664282;
    --purple-8: #7e54a1;
    --purple-9: #8e4ec6;
    --purple-10: #9a5cd0;
    --purple-11: #d19dff;
    --purple-12: #ecd9fa;
    
    /* Iris dark */
    --iris-1: #13131e;
    --iris-2: #171625;
    --iris-3: #202248;
    --iris-4: #262a65;
    --iris-5: #303374;
    --iris-6: #3d3e82;
    --iris-7: #4a4a95;
    --iris-8: #5958b1;
    --iris-9: #5b5bd6;
    --iris-10: #6e6ade;
    --iris-11: #b1a9ff;
    --iris-12: #e0dffe;
    
    /* Cyan dark */
    --cyan-1: #0b161a;
    --cyan-2: #101b20;
    --cyan-3: #082c36;
    --cyan-4: #003848;
    --cyan-5: #004558;
    --cyan-6: #045468;
    --cyan-7: #12677e;
    --cyan-8: #11809c;
    --cyan-9: #00a2c7;
    --cyan-10: #23afd0;
    --cyan-11: #4ccce6;
    --cyan-12: #b6ecf7;
    
    /* Sky dark */
    --sky-1: #0d141f;
    --sky-2: #111a27;
    --sky-3: #112840;
    --sky-4: #113555;
    --sky-5: #154467;
    --sky-6: #1b537b;
    --sky-7: #1f6692;
    --sky-8: #197cae;
    --sky-9: #7ce2fe;
    --sky-10: #a8eeff;
    --sky-11: #75c7f0;
    --sky-12: #c2f3ff;
    
    /* Mint dark */
    --mint-1: #0e1515;
    --mint-2: #0f1b1b;
    --mint-3: #092c2b;
    --mint-4: #003a38;
    --mint-5: #004744;
    --mint-6: #105650;
    --mint-7: #1e685f;
    --mint-8: #277f70;
    --mint-9: #86ead4;
    --mint-10: #a8f5e5;
    --mint-11: #58d5ba;
    --mint-12: #c4f5e1;
    
    /* Bronze dark */
    --bronze-1: #141110;
    --bronze-2: #1c1917;
    --bronze-3: #2d2220;
    --bronze-4: #3b2c27;
    --bronze-5: #48362e;
    --bronze-6: #554039;
    --bronze-7: #67514a;
    --bronze-8: #866357;
    --bronze-9: #a18072;
    --bronze-10: #b09183;
    --bronze-11: #d4b3a5;
    --bronze-12: #ede0d9;
    
    /* Gold dark */
    --gold-1: #121211;
    --gold-2: #1b1a17;
    --gold-3: #2a2620;
    --gold-4: #373128;
    --gold-5: #443c2e;
    --gold-6: #544838;
    --gold-7: #685a46;
    --gold-8: #867152;
    --gold-9: #978365;
    --gold-10: #a79473;
    --gold-11: #cbb99f;
    --gold-12: #e8e2d9;
    
    color-scheme: dark;
  }
}